.hero-container {
  position: relative;

  h1 {
    text-align: center;
    width: calc(100% - 40px);
    padding: 10px 20px;
    color: rgb(142, 202, 230);
    font-size: 20px;
  }

  span {
    color: rgb(255, 183, 3);
  }

  img {
    display: block;
    width: 100%;
    z-index: 0;
  }
}
