.movies-container {
  display: grid;
  padding: 20px;
}

@media (min-width: 768px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
